body {
    background-color: rgb(27, 27, 27);
    color: white;
}

header {
    color: rgb(223, 26, 26);
}

h2,h3{
    color: rgb(212, 147, 24);
    text-decoration: underline;
    text-shadow: 1rem;
}

p {
    margin-left: 2rem;
}

a {
    color: rgb(202, 65, 31)
}